* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #3d7777;
}

.post__btns {
    display: flex;
}

.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wraper {
    display: flex;
    margin-top: 30px;
}

.page {
    border: 1px solid teal;
    padding: 10px;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: grey;
}

.navbar__links {
    margin-left: auto;
}

.navbar__link {
    text-decoration: none;
    color: azure;
    margin: 0 10px;
    transition: .5s;
}

.navbar__link:hover {
    color: #9ae0e0;
}